{# {% from "macros.html" import permissioned with context %} #}


{% macro permissioned(p_list,
                      p_action,
                      np_action="#",
                      p_class="",
                      np_class="",
                      span=True,
                      display="tooltip",
                      np_text="Insufficient Permissions",
                      perm_set=current_user.permSet ) -%}
  {# takes in a permission list and checks against specified permission set (defaults to current_user).
  Arguments:
  display: ['tooltip', 'replace', 'custom'] replace prevents rendering completely and replaces with
    #}


  {% if span %}

      {% if p_list | is_subset(perm_set) %}

        {{ caller(class=p_class, action=p_action) }}

      {% elif ['view_missing_permissions'] | is_subset(perm_set) %}

        <span tabindex="0" data-toggle="tooltip" title="Insufficient Permissions; requires {{ p_list }}">
        {{ caller(class=np_class, action=np_action) }}
        </span>

      {% else %}

        <span tabindex="0" data-toggle="tooltip" title="Insufficient permissions">
        {{ caller(class=np_class, action=np_action) }}
        </span>

    	{% endif %}

    {% else %}

      {% if p_list | is_subset(perm_set) %}

        {{ caller(class=p_class, action=p_action, text=p_text) }}

      {% elif ['view_missing_permissions'] in is_subset(perm_set) %}


        {{ caller(class=np_class, action=np_action, text=np_text+" Requires: "+p_list) }}

      {% else %}


        {{ caller(class=np_class, action=np_action, text=np_text) }}


    	{% endif %}

  {% endif %}
{%- endmacro %}




{#
{% call(class, perm_action) permissioned(p_list=['TEST_PERMISSION'], p_action=url_for('admin.admin_accounts'), p_class="success", np_class="secondary disabled") %}
    <a class="btn btn-{{ class }}" href="{{ action }}">Account Administration</a>
{% endcall %}
#}